<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="../index.html">阿里巴巴</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><i class="glyphicon glyphicon-home"></i><a href="#">A</a></li>
				<li><i class="glyphicon glyphicon-home"></i><a href="#">b</a></li>
				<li><i class="glyphicon glyphicon-home"></i><a href="#">C</a></li>
				<li><i class="glyphicon glyphicon-home"></i><a href="#">d</a></li>
			</ul>
		</div>
	</div>
</nav>